*.bak
services/accounts/accounts/MiSSFire.py
services/accounts/accounts/build.sh
services/accounts/accounts/falcon_app_template.py
services/accounts/accounts/general.py
services/accounts/accounts/gunicorn_config.py
services/accounts/accounts/openssl-service.cnf
services/apigateway/apigateway/MiSSFire.py
services/apigateway/apigateway/build.sh
services/apigateway/apigateway/falcon_app_template.py
services/apigateway/apigateway/general.py
services/apigateway/apigateway/gunicorn_config.py
services/apigateway/apigateway/openssl-service.cnf
services/ca/
services/common_files/MiSSFire_client_commons/
services/docker-compose.yml
services/docker-compose.yml_original
services/payment/payment/MiSSFire.py
services/payment/payment/build.sh
services/payment/payment/falcon_app_template.py
services/payment/payment/general.py
services/payment/payment/gunicorn_config.py
services/payment/payment/openssl-service.cnf
services/reversests/
services/transactions/transactions/MiSSFire.py
services/transactions/transactions/build.sh
services/transactions/transactions/falcon_app_template.py
services/transactions/transactions/general.py
services/transactions/transactions/gunicorn_config.py
services/transactions/transactions/openssl-service.cnf
services/users/users/MiSSFire.py
services/users/users/build.sh
services/users/users/falcon_app_template.py
services/users/users/general.py
services/users/users/gunicorn_config.py
services/users/users/openssl-service.cnf
